*{
    background: black;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
    width: 100%;
    margin: 0;
}



.fondoCabecera{
  background-color: black;
  height: 100px;
}


.logo{
    padding-top: 5px;
    margin-left: 250px;
    width: 5%;
    background: none;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}

.text-area{
    background-color: aqua;
    height: 600px;
    border: none;
    color: #0A3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder{color: #0A3871;}
  .text-area:focus{
    outline: none;
  }

  .mensaje{
    background: white;
    background-image: url("/imagenes/muneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin: auto 0;
    padding: 20px;
    position: fixed;
    width: 30%;
    height: 60%;
  }

  .mensaje:focus{
    outline: none;
  }

  .botones{
    display: flex;
    margin-top: 190px;
  }

  .btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
  }

  .btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
  }

  .btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 645px;
    position: absolute;
    width: 336px;
  }

  .informacion{
    color: #495057;
    font-size: 18px;
  }